<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teams</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>New Team</h1>
        <form action="" th:action="@{/teams}" th:object="${team}" method="post">
            <div class="form-floating">
                <input type="text" th:field="*{name}" class="form-control" name="name" id="name" placeholder="Name">
                <label for="name">Name</label>
            </div>
            <input type="text" name="id" id="id" th:field="*{id}" hidden />
            <br/>
            <input type="submit" value="Save" class="btn btn-success">
        </form>
    </div>
</body>
</html>